/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");

@font-face {
  font-family: "Metropolis";
  src: url("fonts/Metropolis/Regular/Metropolis-Regular.eot");
  src: url("fonts/Metropolis/Regular/Metropolis-Regular.eot")
      format("embedded-opentype"),
    url("fonts/Metropolis/Regular/Metropolis-Regular.woff2") format("woff2"),
    url("fonts/Metropolis/Regular/Metropolis-Regular.woff") format("woff"),
    url("fonts/Metropolis/Regular/Metropolis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("fonts/Metropolis/Semi-bold/Metropolis-SemiBold.eot");
  src: url("fonts/Metropolis/Semi-bold/Metropolis-SemiBold.eot")
      format("embedded-opentype"),
    url("fonts/Metropolis/Semi-bold/Metropolis-SemiBold.woff2") format("woff2"),
    url("fonts/Metropolis/Semi-bold/Metropolis-SemiBold.woff") format("woff"),
    url("fonts/Metropolis/Semi-bold/Metropolis-SemiBold.ttf") format("truetype");
  font-weight: bold; /* was "bold" */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  color: #000000;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
}

.navBar li a {
  color: #000000;
  text-decoration: none;
}

.navBar {
  display: flex;
  font-family: "Metropolis", "PT Sans", sans-serif;
  width: 100%;
  background-color: #ffc840;
  align-items: center;
  /* gap: 1%; */

  /* justify-content: center; */
}

.navBar li {
  font-weight: bold; /* was 700 */
  font-size: 25px;
  line-height: 250%;
  /* padding: 30px auto; */
  list-style-type: none;
  text-align: center;
  width: 25%;
  /* border: 2px solid #000000;
  border-top: 0px;
  border-width: 0px 2px 0px 0px; */
}

.navBar-NotLast {
  border: 2px solid #000000;
  border-top: 0px;
  border-width: 0px 2px 0px 0px;
}

.navBar img {
  width: 100px;
  height: 100px;
}

.navBar li a:hover {
  color: #6452a2;
}

.hero {
  font-family: Nunito;
  text-align: center;
  background: #5cc1b2;
}

.hero h1 {
  padding: 100px;
  font-weight: 700;
  font-size: 45px;
  line-height: 102px;
  color: #6452a2;
}

#aboutUs {
  padding: 20px 20px 20px 20px;
  background-color: #ffefc3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

#aboutUsText {
  padding: 4%;

  border: 5px solid #48c0ef;
  border-radius: 80px;
  /* width: 797.55px;
  height: 360.72px; */
}

#aboutUs h2 {
  font-family: Metropolis, "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #6452a2;
}

#aboutUs p {
  padding-top: 15px;
  font-family: Metropolis, "PT Sans", sans-serif;
  font-size: 20px;
}

#aboutUs img {
  width: 30%;
  height: auto;
}
