@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
  font-family: "Metropolis";
  src: url("fonts/Metropolis/Regular/Metropolis-Regular.eot");
  src: url("fonts/Metropolis/Regular/Metropolis-Regular.eot")
      format("embedded-opentype"),
    url("fonts/Metropolis/Regular/Metropolis-Regular.woff2") format("woff2"),
    url("fonts/Metropolis/Regular/Metropolis-Regular.woff") format("woff"),
    url("fonts/Metropolis/Regular/Metropolis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.top {
  background-color: #8cd4c9;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar {
  display: flex;
  font-family: "Metropolis", "PT Sans", sans-serif;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #8cd4c9;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
}

.headerLinks {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 7%;
  padding-right: 7%;
  width: 100%;
  height: 100px;
}

.navBar img {
  margin-left: 5%;
  width: 12%;
  height: auto;
  margin-top: -1%;
  object-fit: contain;
}

.navBar li a {
  color: #000000;
  text-decoration: none;
}

.navBar li {
  list-style-type: none;
  flex: 0 1 auto;
}

.navBar li a:hover {
  color: #6452a2;
}

.navBar li button {
  height: 50px;
  width: 100px;
  font-family: "Metropolis", "PT Sans", sans-serif;
  background-color: #398e82;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.navBar li button:hover {
  color: #6452a2;
}

.heroContent {
  margin-top: 80px;
  padding-bottom: 50px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 3%;
  justify-content: center;
  align-items: center;
}

.heroText {
  padding-left: 5%;
  padding-right: 2%;
}

.heroContent h1 {
  font-size: 60px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #6352a2;
  text-align: left;
  align-content: center;
}

.heroContent p {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Fire Sans", "PT Sans", sans-serif;
  text-align: left;
}

.hero img {
  width: 50%;
  height: auto;
  flex: 0 1 auto;
  float: right;
  display: flex;
  margin-right: 5%;
}

.heroNav {
  padding-left: 50%;
  padding-bottom: 20px;
}

.aboutus {
  background-color: white;
  padding-bottom: 50px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 3%;
  justify-content: center;
  align-items: center;
}

.aboutusText {
  margin-top: 7%;
  padding-right: 5%;
}

.aboutusContent h2 {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  font-size: 40px;
  color: #6352a2;
  
}

.aboutusContent p {
  padding-top: 20px;
  font-family: "Fire Sans", "PT Sans", sans-serif;
  text-align: left;
  font-size: 18px;
  padding-left: 60%;
  line-height: 1.5;
}

.aboutusContent img {
  margin-top: 7%;
  border: 8px solid #398e82;
  border-radius: 40px;
  padding-bottom: 20px;
  display: flex;
  gap: 3%;
  width: 45%;
  justify-content: center;
  margin-left: 5%;
  flex: 0 1 auto;
  float: left;
}

.polygon {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 95%;
  margin-bottom: 20%;
  display: inline-block;
  background: rgba(92, 193, 178, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transform: rotate(38.41deg);

}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
